<h1>Baptismal Program Generator</h1>
<p>Please fill in the fields below, then preview and/or save the baptismal program file as a PDF.</p>
<div>
  <mat-form-field>
    <input required placeholder="Baptismal Candidate Name" matInput [(ngModel)]="baptismalCandidateName" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Baptism Date" matInput [(ngModel)]="baptismDate" type="date" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Presiding (i.e. Stake President)" matInput [(ngModel)]="presiding" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Conducting (i.e. Ward Mission Leader)" matInput [(ngModel)]="conducting" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Pianist" matInput [(ngModel)]="pianist" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Chorister" matInput [(ngModel)]="chorister" />
  </mat-form-field>
  <mat-form-field>
    <textarea required placeholder="Opening Hymn" ea matInput [(ngModel)]="openingHymn">
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Opening Prayer (i.e. Ministering Brother/Sister)" matInput [(ngModel)]="openingPrayer" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Talk - Baptism (i.e. MLS Missionary)" matInput [(ngModel)]="baptismTalk" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Talk - Gift of the Holy Ghost (i.e. Ward Missionary)" matInput [(ngModel)]="holyGhostTalk" />
  </mat-form-field>
  <mat-form-field>
    <textarea required placeholder="Musical Selection" ea matInput [(ngModel)]="musicalSelection">
    </textarea>
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Baptism Performed By (i.e. Ward Mission Leader)" matInput [(ngModel)]="baptismPerformedBy" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Baptism First Witness (i.e. Stake President)" matInput [(ngModel)]="witness1" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Baptism Second Witness (i.e. Bishop)" matInput [(ngModel)]="witness2" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Missionary Presentation Title (i.e. &quot;The Gospel of Christ&quot;)" matInput [(ngModel)]="missionaryPresentation" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Missionary (Senior Companion)" matInput [(ngModel)]="missionary1" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Missionary (Junior Companion)" matInput [(ngModel)]="missionary2" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Testimony (Bishop)" matInput [(ngModel)]="testimony1" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Testimony (Stake President)" matInput [(ngModel)]="testimony2" />
  </mat-form-field>
  <mat-form-field>
    <textarea required placeholder="Closing Hymn" ea matInput [(ngModel)]="closingHymn">
      </textarea>
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Closing Prayer (i.e. Ward Executive Secretary)" matInput [(ngModel)]="closingPrayer" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Confirmation Date" matInput [(ngModel)]="confirmationDate" type="date" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Confirmation Time" matInput [(ngModel)]="confirmationTime" type="time" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Confirmation Location" matInput [(ngModel)]="confirmationAddress" />
  </mat-form-field>
  <mat-form-field>
    <input required placeholder="Confirmation Performed By" matInput [(ngModel)]="confirmationPerformedBy" />
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button (click)="renderPdf()">Preview PDF</button>
    <button mat-raised-button color="primary" (click)="savePdf()">Save PDF</button>
  </div>
  <div class="button-row">
      <a href="assets/cover-right.pdf" target="new" mat-button>Download Program Cover (image on right)</a>
      <span>&nbsp;or&nbsp;</span>
      <a href="assets/insert-left.pdf" target="new" mat-button>Download as Inside Image (print image on left alongside program)</a>
  </div>
</div>
<div [class.hidden]="!pdf">
  <canvas #pdfOutputCanvas></canvas>
</div>