@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: "Open Sans", "Arial", sans-serif;
}

.ie-only {
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ie-only {
        display: block;
    }
}
